<% if user_signed_in? %>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_activity_link"),
                              user_path(current_user),
                              controller_name == "users",
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_activity_link") %>
  </li>
  <li>
    <% my_rewards_title = t("layouts.header.my_rewards") %>
    <% if current_user.available_rewards > 0 %>
      <% my_rewards_title += " "+t("layouts.header.available_rewards", count: current_user.available_rewards) %>
    <% end %>
    <%= layout_menu_link_to my_rewards_title,
                            gamification_rewards_path,
                            controller_name == "rewards",
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                              t("layouts.header.my_rewards") %>
  </li>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_complaints") ,
                            complaints_path,
                            controller_name == "complaints",
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                                     t("layouts.header.my_complaints") %>
  </li>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_account_link"),
                              account_path,
                              controller_name == "account",
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                t("layouts.header.my_account_link") %>
  </li>
  <li>
    <% if session[:saml_issuer] %>
      <%= link_to t("devise_views.menu.login_items.logout"),
                  logout_saml_user_path, remote: true, rel: "nofollow" %>
    <% else %>
      <%= link_to t("devise_views.menu.login_items.logout"),
                  destroy_user_session_path, rel: "nofollow", method: :delete %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to t("devise_views.menu.login_items.login_as_citizen"),
                login_saml_user_path(issuer: Settings.identity_providers.citizen_issuer), 
                rel: "nofollow" %>
  </li>
<% end %>
