
<h1 class="inline-block"><%= t "admin.gamification.show.gamification_title" %></h1>

<h2><%= t("admin.gamification.show.ranking") %></h2>
<table id="ranking" class="stack sortable">
  <thead>
      <th><%= t("admin.gamification.show.ranking_table.user") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.total_score") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_1") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_2") %></th>
      <th class="name text-right"><%= t("admin.gamification.show.ranking_table.score_3") %></th>
    </tr>
  </thead>
  <tbody>
    <tr id="ranking_1">
    	<td class="name">Programador</td>
    	<td class="name text-right">260</td>
		<td class="name text-right">200</td>
     	<td class="name text-right">50</td>
     	<td class="name text-right">10</td>
    </tr>

    <tr id="ranking_2">
    	<td class="name">Admin</td>
    	<td class="name text-right">220</td>
		<td class="name text-right">190</td>
     	<td class="name text-right">30</td>
     	<td class="name text-right">0</td>
    </tr>

    <tr id="ranking_3">
    	<td class="name">Alcalde</td>
    	<td class="name text-right">150</td>
		<td class="name text-right">140</td>
     	<td class="name text-right">10</td>
     	<td class="name text-right">0</td>
    </tr>

    <tr id="ranking_4">
    	<td class="name">Usuario</td>
    	<td class="name text-right">120</td>
		<td class="name text-right">100</td>
     	<td class="name text-right">10</td>
     	<td class="name text-right">10</td>
    </tr>
  </tbody>
</table>
</div>