<%= back_link_to admin_gamification_path(@action.gamification), t("admin.gamification.actions.index.back") %>

<%= link_to t("admin.gamification.actions.show.edit_action"),
            edit_admin_gamification_action_path(@action),
            class: "button hollow float-right" %>

<%= render "admin/gamification/actions/show" %>

<% if @action.process_type.present? && 
  @action.operation.present? && 
  ["create", "create_proposal"].exclude?(@action.operation) %>

  <div class="gamification-action-processes-form">
    <% case @action.process_type 
       when "debate" %>
        <%= render "admin/gamification/actions/processes/debates/additional_scores" %>
    <% when "proposal" %>
        <%= render "admin/gamification/actions/processes/proposals/additional_scores" %>
    <% when "poll" %>
        <%= render "admin/gamification/actions/processes/polls/additional_scores" %>
    <% when "process" %>
        <%= render "admin/gamification/actions/processes/processes/additional_scores" %>
    <% when "forum" %>
        <%= render "admin/gamification/actions/processes/forums/additional_scores" %>
    <% end %>
  </div>
<% else %>
  <div class="callout primary margin">
    <%= t("admin.gamification.actions.show.cannot_be_configured") %>
  </div>
<% end %>
