<div class="forum-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to forums_path %>

    <h1><%= t("forums.new.start_new") %></h1>
    <%= render "form" %>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-forums float-right"></span>
    <h2><%= t("forums.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("forums.new.recommendation_one") %></li>
      <li><%= t("forums.new.recommendation_two") %></li>
      <li><%= t("forums.new.recommendation_three") %></li>
      <li><%= t("forums.new.recommendation_four") %></li>
    </ul>
  </div>
</div>
