<%= back_link_to admin_managers_path %>

<h2><%= t("admin.managers.form.edit_title") %></h2>

<div class="callout highlight">
  <strong><%= @manager.name %></strong><br>
  <%= @manager.email %>
</div>

<div class="margin-top">
  <%= form_for [:admin, @manager] do |f| %>
    <div class="small-12 medium-6">
      <%= f.select :management_area_id,
                   @management_areas.map { |area| [area.name, area.id] },
                   { include_blank: true } %>
    </div>
    <%= f.submit class: "button success" %>
  <% end %>
</div>
