<div id="participation_statistics">

  <div id="participation_in_budget_investments" class="stats-group">
    <h4><%= t("stats.by_registered_projects") %></h4>
  	<div class="row justify-content-center">
  		<%= render "shared/stats/participation/budget_investments/by_user_type", stats: stats, exportable: exportable %>
  		<%= render "shared/stats/participation/budget_investments/by_civic_center", stats: stats, exportable: exportable %>
  		<%= render "shared/stats/participation/budget_investments/by_heading", stats: stats, exportable: exportable %>
  	</div>
  </div>

  <div id="by_population_segment" class="stats-group">
    <h4><%= t("stats.by_population_segment") %></h4>
    <div class="row justify-content-center">
    	<%= render "shared/stats/participation/population_segment/by_gender", stats: stats, exportable: exportable %>
    	<%= render "shared/stats/participation/population_segment/by_age", stats: stats, exportable: exportable %>
   	</div>

  </div>

</div>
