<footer>


  <div class="row text-center pr-15p pl-15p" style="background: #4d9dbe; color: white; padding-top: 20px; padding-bottom: 20px;">

    <div class="medium-12 large-3 column footer-column-container">
      <%= t("layouts.footer.copyright") %>
    </div>
    
    <div class="medium-12 large-6 column footer-column-container">
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>

    <div class="medium-12 large-3 column footer-column-container social">
      <div class="row mb-0 d-inline-block" style="min-width: 205px;">


          <% if setting["twitter_handle"] %>
 
              <%= link_to "https://twitter.com/#{setting["twitter_handle"]}", target: "_blank",
                           title: t("shared.go_to_page") + t("social.twitter", org: setting["org_name"]) + t("shared.target_blank"), class: "footer-social-icons twitter d-inline-block" do %>
                              <span class="show-for-sr"><%= t("social.twitter", org: setting["org_name"]) %></span>
                              <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>

          <% end %>
          <% if setting["facebook_handle"] %>

              <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
                          title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank"), class: "footer-social-icons facebook d-inline-block" do %>
                          <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
                          <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>

          <% end %>
          <% if setting["youtube_handle"] %>

              <%= link_to "https://www.youtube.com/#{setting["youtube_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.youtube", org: setting["org_name"]) + t("shared.target_blank"), class: "footer-social-icons youtube d-inline-block" do %>
                          <span class="show-for-sr"><%= t("social.youtube", org: setting["org_name"]) %></span>
                          <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>

          <% end %>
          <% if setting["telegram_handle"] %>

              <%= link_to "https://www.telegram.me/#{setting["telegram_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.telegram", org: setting["org_name"]) + t("shared.target_blank"), class: "footer-social-icons telegram d-inline-block" do %>
                          <span class="show-for-sr"><%= t("social.telegram", org: setting["org_name"]) %></span>
                          <span class="icon-telegram" aria-hidden="true"></span>
              <% end %>

          <% end %>
          <% if setting["instagram_handle"] %>

              <%= link_to "https://www.instagram.com/#{setting["instagram_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.instagram", org: setting["org_name"]) + t("shared.target_blank"), class: "footer-social-icons instagram d-inline-block" do %>
                          <span class="show-for-sr"><%= t("social.instagram", org: setting["org_name"]) %></span>
                          <span class="icon-instagram" aria-hidden="true"></span>
              <% end %>

          <% end %>
          <%= raw content_block("footer", I18n.locale) %>

      </div>
    </div>
  </div>

  <div class="row pt-4 pb-4 pl-10p pr-10p">
    <%= image_tag(image_path_for("pie_web.svg"), class: "", alt: "Generic placeholder image", style: "margin: 0 auto;") %>
  </div>

</footer>
