<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <%= content_for :canonical %>
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= raw setting["html.per_page_code_head"] %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= raw setting["html.per_page_code_body"] %>

    <div id="st-container" class="st-container">

      <nav class="st-menu st-locale" id="menu-1">
        <div class="st-menu-content">

          <div class="st-buttons">
            <div class="st-buttons-right">
              <%= render "shared/locale_switcher" %>
            </div>
          </div>

          <!--
          <h2>Sidebar</h2>
          <ul>
            <li><a href="#" onclick="closeSidebar();">Opción 1</a></li>
            <li><a href="#" onclick="closeSidebar();">Opción 2</a></li>
            <li><a href="#" onclick="closeSidebar();">Opción 3</a></li>
            <li><a href="#" onclick="closeSidebar();">Opción 4</a></li>
            <li><a href="#" onclick="closeSidebar();">Opción 5</a></li>
          </ul>
          -->

        </div>
      </nav>

      <nav class="st-menu st-main" id="menu-2">
        <div class="st-menu-content">

          <div class="st-buttons">

            <div class="st-buttons-left">
              <div class="show-for-small-only">
                <button onclick="closeSidebar();">
                  <span class="fas fa-times" aria-hidden="true" title="<%= t("layouts.header.close") %>"></span>
                </button>
              </div>
            </div>

            <div class="st-buttons-right">
              <div class="hide-for-small-only">
                <% if I18n.locale %>
                  <div class="locale locale-form" data-current-locale="<%= I18n.locale %>">
                    <div id="st-trigger-effects">
                      <button data-effect="st-locale" title="<%= t("layouts.header.select_locale") %>"><%= I18n.locale.upcase %></button>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="show-for-small-only">
                <%= render "shared/locale_switcher" %>
              </div>
            </div>

          </div>

          <h2><%= t("layouts.header.access") %></h2>
          <ul>
            <%= render "shared/admin_login_items" %>
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <br>

          <div class="show-for-small-only">
            <h2><%= t("layouts.header.participation") %></h2>
            <%= render "shared/subnavigation" %>
          </div>

        </div>
      </nav>

      <div class="st-pusher">



        <div class="st-content">

          <h1 class="show-for-sr"><%= setting["org_name"] %></h1>

          <div class="wrapper <%= yield (:wrapper_class) %>">
            <%= render "layouts/header", with_subnavigation: true %>

            <% if request.headers["User-Agent"] =~ /MSIE/ && cookies["ie_alert_closed"] != "true" %>
            <!--[if lt IE 9]>
              <div data-alert class="callout primary ie-callout" data-closable>
                <button class="close-button ie-callout-close-js"
                        aria-label="<%= t("application.close") %>" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2><%= t("layouts.application.ie_title") %></h2>
                <p>
                  <%= sanitize(t("layouts.application.ie",
                  chrome: link_to(
                          t("layouts.application.chrome"), "https://www.google.com/chrome/browser/desktop/", title: t("shared.target_blank"), target: "_blank"),
                  firefox: link_to(
                           t("layouts.application.firefox"), "https://www.mozilla.org/firefox", title: t("shared.target_blank"), target: "_blank")
                  )) %>
                </p>
              </div>
            <![endif]-->
            <% end %>

            <%= render "layouts/flash" %>

            <%= yield %>

            <div class="push"></div>
          </div>
          <div class="footer">
            <%= render "layouts/footer" %>
          </div>

        </div> <!-- /st-content-->
      </div> <!-- /st-pusher-->
    </div> <!-- /st-container-->

    <%= javascript_include_tag "classie", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "sidebarEffects", "data-turbolinks-track" => true %>

  </body>
</html>
