<div class="clear"></div>

<div class="row callout highlight">
  <div class="small-12 medium-12 large-6 column">
    <p>
      <strong><%= t("admin.forums.index.id") %></strong>
      <br>
      <%= @process.id %>
    </p>
    <p>
      <strong><%= t("admin.forums.index.title") %></strong>
      <br>
      <%= @process.title %>
    </p>
  </div>

  <div class="small-12 medium-12 large-6 column">
    <p>
      <strong><%= t("admin.forums.index.author") %></strong>
      <br>
      <%= @process.author.username %>
    </p>
  </div>
</div>