<div class="row account">
  <div class="small-12 column">

    <%= avatar_image(@account, seed: @account.id, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class=" column">
          <h2><%= t("account.show.personal") %></h2>
        </div>
      </div>
      <div class="row">
        <div class="column">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <div class="column small-12 medium-6">
                  <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("account.show.organization_name_label"), disabled: true %>
                </div>
                <div class="column small-12 medium-6">
                  <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, placeholder: t("account.show.organization_responsible_name_placeholder"), disabled: true %>
              </div>
              <% end %>
              <div class="column small-12 medium-6">
                <%= f.text_field :phone_number, placeholder: t("account.show.phone_number_label"), disabled: true %>
              </div>
            <% else %>
              <div class="column small-12 medium-6">
                <%= f.text_field :username, maxlength: User.username_max_length, placeholder: t("account.show.username_label"), disabled: true %>
              </div>
              <div class="column small-12 medium-6">
                <%= f.text_field :alias, maxlength: User.username_max_length, placeholder: t("account.show.alias_label") %>
              </div>
            <% end %>

        </div>
      </div>
      <div class="row">
        <div class=" column">
          <% if @account.email.present? %>
            <br>
            <h2><%= t("account.show.notifications") %></h2>

            <div>
              <%= f.check_box :email_on_comment %>
            </div>

            <div>
              <%= f.check_box :email_on_comment_reply %>
            </div>

            <div>
              <%= f.check_box :newsletter %>
            </div>

            <div>
              <%= f.check_box :email_digest %>
            </div>

            <div>
              <%= f.check_box :email_on_direct_message %>
            </div>
          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.check_box :official_position_badge %>
            </div>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>

      </div>
    <% end %>

  </div>
</div>
