<div class="row expanded">

  <div class="small-12 medium-6 column">
    <div class="service-item">
      <div class="service-header">
        <div class="service-header-image background-color-1">
          <%= image_tag image_path_for("vectors/debates.svg"), alt: t("welcome.actions.debates.icon")  %>
        </div>
        <div class="service-header-title">
          <h4><%= t("welcome.actions.debates.title") %></h4>
        </div>
      </div>
      <div class="service-description">
        <p><%= t("welcome.actions.debates.description") %></p>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 column">
    <div class="service-item">
      <div class="service-header">
        <div class="service-header-image background-color-2">
          <%= image_tag image_path_for("vectors/propones.svg"), alt: t("welcome.actions.proposals.icon")  %>
        </div>
        <div class="service-header-title">
          <h4><%= t("welcome.actions.proposals.title") %></h4>
        </div>
      </div>
      <div class="service-description">
        <p><%= t("welcome.actions.proposals.description") %></p>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 column">
    <div class="service-item">
      <div class="service-header">
        <div class="service-header-image background-color-4">
          <%= image_tag image_path_for("vectors/decides.svg"), alt: t("welcome.actions.decide.icon")  %>
        </div>
        <div class="service-header-title">
          <h4><%= t("welcome.actions.decide.title") %></h4>
        </div>
      </div>
      <div class="service-description">
        <p><%= t("welcome.actions.decide.description") %></p>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 column">
    <div class="service-item">
      <div class="service-header">
        <div class="service-header-image background-color-5">
          <%= image_tag image_path_for("vectors/se_hace.svg"), alt: t("welcome.actions.it_does.icon")  %>
        </div>
        <div class="service-header-title">
          <h4><%= t("welcome.actions.it_does.title") %></h4>
        </div>
      </div>
      <div class="service-description">
        <p><%= t("welcome.actions.it_does.description") %></p>
      </div>
    </div>
  </div>

</div>