<div class="row d-flex">
	<div class="small-12 medium-12 large-6 p-4">
		<div>
		  <h1 class="display-4 main-color"><%= sanitize(t(".initiative.title")) %></h1>
		  <p><%= t(".initiative.description") %></p>
		  <a class="button" href="#" role="button"><%= t(".initiative.button") %></a>
		</div>
	</div>
	<div class="small-12 medium-12 large-6 d-none d-md-flex" >
		<%= image_tag(image_path_for("Grafico1-02.png"), class: "", alt: "Generic placeholder image", style: "") %>
	</div>
</div>

<div class="row separator">
  <%= image_tag(image_path_for("body_start_separator.svg"), alt: "Body content separator")%>
</div>

<div class="row d-flex" >
	<div class="small-12 medium-12 large-6 pl-4 pl-4">

        <div class="row d-flex">

          <div class="col-lg-6 text-center p-3">
    		    <%= image_tag(image_path_for("icono_debates.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
            <h2><%= t(".debates.title") %></h2>
            <p><%= t(".debates.description") %></p>
          </div>

          <div class="col-lg-6 text-center p-3">
    		    <%= image_tag(image_path_for("icono_propones.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
            <h2><%= t(".proposals.title") %></h2>
            <p><%= t(".proposals.description") %></p>
          </div>

      	</div>

      	<div class="row d-flex">

          <div class="col-lg-6 text-center p-3">
    		    <%= image_tag(image_path_for("icono_decides.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
            <h2><%= t(".decide.title") %></h2>
            <p><%= t(".decide.description") %></p>
          </div>

          <div class="col-lg-6 text-center p-3">
    		    <%= image_tag(image_path_for("icono_sehace.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
            <h2><%= t(".it_does.title") %></h2>
            <p><%= t(".it_does.description") %></p>
          </div>

      	</div>

	</div>
	<div class="small-12 medium-12 large-6 text-left pl-4 pl-4">

          <div class="text-center p-3">
    		    <%= image_tag(image_path_for("icono_contacta.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
            <h2><%= t(".contact.title") %></h2>
            <p><%= t(".contact.description") %></p>

    		    <%= link_to t(".contact.button"), "https://santander.es/servicios-ciudadano/buzon-ciudadano", class: "button mt-4", target: "_blank" %>
          </div>

	</div>
</div>