<div class="row expanded">
  <div class="small-12 column">

<!--   <%= image_tag(image_path_for("icono_contacta.png"), class: "rounded-circle", alt: "Generic placeholder image", style: "", width: "100", height: "100") %>
  <h2><%= t("welcome.complaint_form.title") %></h2>
  <p><%= t("welcome.complaint_form.description") %></p>

  <%= link_to t("welcome.complaint_form.button"), "https://santander.es/servicios-ciudadano/buzon-ciudadano", class: "button mt-4", target: "_blank" %> -->



    <div class="service-item">
      <div class="service-header">
        <div class="service-header-image background-color-3">
          <%= image_tag image_path_for("vectors/enviar.svg"), alt: t("welcome.complaint_form.icon")  %>
        </div>
        <div class="service-header-title">
          <h4><%= t("welcome.complaint_form.title") %></h4>
        </div>
      </div>
    </div>

    <div class="complaint-form">
      <%= form_for @complaint, url: welcome_path, method: :send_complaint do |f| %>
        <div class="row">
          <div class="small-6 pr-3">
            <%= f.select :type, ["Queja", "Sugerencia"] %>
          </div>
          <div class="small-6">
            <%= f.select :department, ["SJ Fomento", "Vivienda"] %>
          </div>
        </div>
        
        <%= f.text_field :subject %>
        <%= f.text_area :body %>
        <%= f.submit(class: "button expanded float-right", value: t("welcome.complaint_form.submit")) %>
      <% end %>
    </div>



  </div>
</div>