<div class="row expanded">
  <div class="small-12 column">

    <div class="text-center">
      <h2 class="small-12"><%= t("welcome.complaint_form.title") %></h2>
    </div>

    <% if user_signed_in? %>

      <div id="complaint-form" class="complaint-form">
        <%= form_for @complaint, url: welcome_path, method: :create_complaint do |f| %>

          <%= render "shared/errors", resource: @complaint %>

          <div class="row">
            <div class="small-6 pr-3">
              <%= f.select :request_type, ["Queja", "Sugerencia"] %>
            </div>
            <div class="small-6">
              <%= f.select :department, options_for_select(@admin_unit) %>
            </div>
          </div>
          <%= f.text_field :subject %>
          <%= f.text_area :body %>
          <%= f.submit(class: "button expanded float-right mb-0", value: t("welcome.complaint_form.submit")) %>
        <% end %>
      </div>

    <% else %>
      <div class="callout success">
        <%= sanitize(t("users.login_to_continue", signin: link_to_signin)) %>
      </div>
    <% end %>

  </div>
</div>