<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>

  <div class="row">
    <%= render "welcome/featured" %>
  </div>

  <%= render "shared/right_separator" %>

  <%= render "welcome/indicators" %>

  <%= render "shared/left_separator" %>

  <%= render "welcome/slogan" %>

  <%= render "shared/right_separator" %>

  <%= render "welcome/complaints_and_suggestions" %>

</main>
