<div class="row" > <!-- row  style="max-width: 100%;" -->
	<div class="jumbotron small-12 medium-12 large-6" style="border-radius: 0px; background-color: #0C4D87; color: white;padding: 4rem 3rem;">
		<!--
		 <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag(image_path_for("foto.png"), class: "featurette-image img-fluid mx-auto", alt: "Generic placeholder image") %>
          </div>
        </div>
-->
		<div class="card flex-md-row mb-5 h-md-250" style="color: white; background-color: transparent;margin-bottom: 30px !important;">
			<%= image_tag(image_path_for("icono-1.png"), class: "featurette-image img-fluid mx-auto", alt: "Generic placeholder image", style: "width: 80px; height: 85px;") %>
			<div class="card-body d-flex flex-column align-items-start" style="padding-top: 0px;">
				<h3 class="mb-0" style="color: #C2D456 !important;">PROPUESTAS DESTACADAS</h3>
				<h3 class="mb-0 text-white">DEL AYUNTAMIENTO</h3>
			</div>
		</div>

		<div class="card flex-md-row mb-5 h-md-250" style="color: white; background-color: transparent;">
			<%= image_tag(image_path_for("foto.png"), class: "featurette-image img-fluid mx-auto", alt: "Generic placeholder image") %>
			<div class="card-body d-flex flex-column align-items-start">
				<h3 class="mb-0">
					<a class="text-white" href="#">Featured post</a>
				</h3>
				<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content...</p>
				<!-- <a href="#">Continue reading</a> -->
			</div>
		</div>

		<div class="text-center">
			<a class="btn" style="border-radius: 0px; border-color: transparent; background-color: #C2D456; font-weight: bold;">VER TODAS</a>
		</div>
	

	</div>

<!--
	<div class="jumbotron small-12 medium-12 large-6" style="border-radius: 0px; background-color: #6AC8EE; color: white;">
		<h1>Header 1</h1>
		<p class="lead">"Esto es un texto de prueba"</p>
		<p>
			<a class="btn btn-lg btn-success" href="#">Ver mas</a>
		</p>
	</div>
-->


	<div class="jumbotron small-12 medium-12 large-6" style="border-radius: 0px; background-color: #6AC8EE; color: white;padding: 4rem 3rem;"">
		<div class="card flex-md-row mb-5 h-md-250" style="color: white; background-color: transparent;margin-bottom: 30px !important;">
			<%= image_tag(image_path_for("icono-2.png"), class: "featurette-image img-fluid mx-auto", alt: "Generic placeholder image", style: "width: 80px; height: 85px;") %>
			<div class="card-body d-flex flex-column align-items-start" style="padding-top: 0px;">
				<h3 class="mb-0" style="color: #0C4D87 !important;">PROPUESTAS DESTACADAS</h3>
				<h3 class="mb-0 text-white">DE LA CIUDADANÍA</h3>
			</div>
		</div>

		<div class="card flex-md-row mb-5 h-md-250" style="color: white; background-color: transparent;">
			<%= image_tag(image_path_for("foto.png"), class: "featurette-image img-fluid mx-auto", alt: "Generic placeholder image") %>
			<div class="card-body d-flex flex-column align-items-start">
				<h3 class="mb-0">
					<a class="text-white" href="#">Featured post</a>
				</h3>
				<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content...</p>
				<!-- <a href="#">Continue reading</a> -->
			</div>
		</div>

		<div class="text-center">
			<a class="btn" style="border-radius: 0px; border-color: transparent; background-color: #0C4D87; font-weight: bold;">VER TODAS</a>
		</div>

	</div>

</div>