<div class="row section-content text-center">
  <div class="small-12 column">
    <h2 id="debates" data-magellan-target="debates">
      <%= t("pages.help.debates.title") %>
    </h2>
    <p>
      <%= sanitize(t("pages.help.debates.description",
          org: setting["org_name"],
          link: link_to(t("pages.help.debates.link"),
                              debates_path))) %>
    </p>
    <p>
      <%= sanitize(t("pages.help.debates.feature",
            link: link_to(t("pages.help.debates.feature_link", org: setting["org_name"]),
                             new_user_registration_path))) %>
    </p>

    <figure>
      <%= image_tag "help/debates.png", alt: t("pages.help.debates.image_alt") %>
      <figcaption><%= t("pages.help.debates.figcaption") %></figcaption>
    </figure>
  </div>
</div>
